@charset "ISO-8859-1";

.searchFieldsContainerForAcademicSessionStudents {
	color: black;
	background-color: #e6e6e6;
	padding-bottom: 13px;
}

.academicSessionAndClassContainer {
	padding: 20px 10px 10px 10px;
	margin-left: 20px;
}

.academicSessionTextContainer {
	display: block;
	padding: 6px;
	border: 1px solid #ced4da;
	border-radius: 5px;
	background-color: white;
}