<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>SchoolManagerCRUD</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>jsp/Login.jsp</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SaveRecord</display-name>
    <servlet-name>SaveRecord</servlet-name>
    <servlet-class>com.setmax.servlet.SaveRecord</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveRecord</servlet-name>
    <url-pattern>/SaveRecord</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteRecord</display-name>
    <servlet-name>DeleteRecord</servlet-name>
    <servlet-class>com.setmax.servlet.DeleteRecord</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteRecord</servlet-name>
    <url-pattern>/DeleteRecord</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewAllRecords</display-name>
    <servlet-name>ViewAllRecords</servlet-name>
    <servlet-class>com.setmax.servlet.ViewAllRecords</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAllRecords</servlet-name>
    <url-pattern>/ViewAllRecords</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditRecord</display-name>
    <servlet-name>EditRecord</servlet-name>
    <servlet-class>com.setmax.servlet.EditRecord</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditRecord</servlet-name>
    <url-pattern>/EditRecord</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SaveServlet</display-name>
    <servlet-name>SaveServlet</servlet-name>
    <servlet-class>com.setmax.servlet.SaveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveServlet</servlet-name>
    <url-pattern>/SaveServlet</url-pattern>
    <url-pattern>/saveServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteServlet</display-name>
    <servlet-name>DeleteServlet</servlet-name>
    <servlet-class>com.setmax.servlet.DeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteServlet</servlet-name>
    <url-pattern>/DeleteServlet</url-pattern>
    <url-pattern>/delete</url-pattern>
    <url-pattern>/deleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewServlet</display-name>
    <servlet-name>ViewServlet</servlet-name>
    <servlet-class>com.setmax.servlet.ViewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewServlet</servlet-name>
    <url-pattern>/ViewServlet</url-pattern>
    <url-pattern>/view</url-pattern>
    <url-pattern>/viewServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditServlet</display-name>
    <servlet-name>EditServlet</servlet-name>
    <servlet-class>com.setmax.servlet.EditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditServlet</servlet-name>
    <url-pattern>/EditServlet</url-pattern>
    <url-pattern>/edit</url-pattern>
    <url-pattern>/editServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SaveEditedStudentDetailsServlet</display-name>
    <servlet-name>SaveEditedStudentDetailsServlet</servlet-name>
    <servlet-class>com.setmax.servlet.SaveEditedStudentDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveEditedStudentDetailsServlet</servlet-name>
    <url-pattern>/SaveEditedStudentDetailsServlet</url-pattern>
    <url-pattern>/saveEditedStudentDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.setmax.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
    <url-pattern>/login</url-pattern>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserTypesServlet</display-name>
    <servlet-name>UserTypesServlet</servlet-name>
    <servlet-class>com.setmax.servlet.UserTypesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserTypesServlet</servlet-name>
    <url-pattern>/UserTypesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet2</display-name>
    <servlet-name>LoginServlet2</servlet-name>
    <servlet-class>com.setmax.servlet.LoginServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet2</servlet-name>
    <url-pattern>/sendId</url-pattern>
    <url-pattern>/LoginServlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServletID</display-name>
    <servlet-name>LoginServletID</servlet-name>
    <servlet-class>com.setmax.servlet.LoginServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServletID</servlet-name>
    <url-pattern>/LoginServletID</url-pattern>
    <url-pattern>/sendID</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewUsersServlet</display-name>
    <servlet-name>ViewUsersServlet</servlet-name>
    <servlet-class>com.setmax.servlet.ViewUsersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewUsersServlet</servlet-name>
    <url-pattern>/ViewUsersServlet</url-pattern>
    <url-pattern>/viewUsers</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewUsersRedirect</display-name>
    <servlet-name>ViewUsersRedirect</servlet-name>
    <servlet-class>com.setmax.servlet.ViewUsersRedirect</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewUsersRedirect</servlet-name>
    <url-pattern>/ViewUsersRedirect</url-pattern>
    <url-pattern>/redirectToViewUsers</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserMetadataServlet</display-name>
    <servlet-name>UserMetadataServlet</servlet-name>
    <servlet-class>com.setmax.servlet.UserMetadataServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserMetadataServlet</servlet-name>
    <url-pattern>/UserMetadataServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubjectMetadataServlet</display-name>
    <servlet-name>SubjectMetadataServlet</servlet-name>
    <servlet-class>com.setmax.servlet.SubjectMetadataServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubjectMetadataServlet</servlet-name>
    <url-pattern>/SubjectMetadataServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserServlet</display-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>com.setmax.servlet.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserFilteredViaUserTypeServlet</display-name>
    <servlet-name>UserFilteredViaUserTypeServlet</servlet-name>
    <servlet-class>com.setmax.servlet.UserFilteredViaUserTypeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserFilteredViaUserTypeServlet</servlet-name>
    <url-pattern>/UserFilteredViaUserTypeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentInfoServlet</display-name>
    <servlet-name>StudentInfoServlet</servlet-name>
    <servlet-class>com.setmax.servlet.StudentInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentInfoServlet</servlet-name>
    <url-pattern>/StudentInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TeacherInfoServlet</display-name>
    <servlet-name>TeacherInfoServlet</servlet-name>
    <servlet-class>com.setmax.servlet.TeacherInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeacherInfoServlet</servlet-name>
    <url-pattern>/TeacherInfoServlet</url-pattern>
  </servlet-mapping>
</web-app>